<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/popup.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>popup</title>
</head>
<body id="meu">
	<div class="container">
		<p></p>
		<h2 id="titulo">Salve a imagem aqui </h2>
		<div id="box-image" ondragover="dragover_handler();"> </div>
		<button class="btn btn btn-outline-primary my-btn" id="cor"> Salvar</button>
	</div>
</body>
</html>