<!DOCTYPE html>
<html id="meu">
<head>
	<title>popup</title>
</head>
<body >
								
				<img src="../icon.png">				
	
	<div class="container">	
		<!-- A api de drag and drop do JS só guarda informações de text, oq dá pra vc fazer é recuperar esse elemento com alguma informação dele, como o id -->	
		<div>
			<div> 
				<div>
					<a href="#">
						<li>
							<ul>
								<img src="../icon.png">
							</ul>

							<ul>
								
								<img src="../icon.png">
							</ul>
						</li>
					</a>

				</div>
			</div>
		 </div>		
		
	</div>
</body>
</html>